.App {
  text-align: center;
}

.gavforms {
  font-family: "Questrial", sans-serif;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  box-shadow: -5px -5px 10px rgb(0, 0, 0);
  width: 40%;
  padding: 2%;
  border-radius: 20px;
  background: #5fb2d7;
  .gavinputs {
    width: 60%;
    margin: 3% auto;
    text-align: center;
  }
  .gavfile {
    margin: 3% auto;
    border-radius: 5px;
    border: 2px solid white;
    width: 200px;
  }
  button {
    width: 200px;
    margin: 1% auto;
  }
  textarea {
    resize: none;
    width: 75%;
  }
}

.dashboard {
  .delete {
    width: 200px;
    margin-right: 85%;
  }
  .dashtitle {
    margin:1%;
  }
}
.favs-container {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  .dashboard-favs {
    background-image:linear-gradient(#2F5973, white, #5FB2D7);
    display: flex;
    flex-direction: column;
    max-width: 25%;

    margin: 2% 2%;
    border: 1px solid gray;
    box-shadow: -5px -5px 5px gray;
    border-radius: 10px;
    padding:2%;

    img{
      max-height:200px;
      max-width:200px;
      margin:0 auto;
      display: block;
    }
    p {
      text-align:left;
    }
    button {
      width: 200px;
      margin: 1% auto;
    }
    .descriptions{
      height:150px;
    }
  }
}
